{% extends "main.html" %}

{% block title %}- Parceiros{% endblock %}

{% block content %}

	<div class="clear span-8">
		<p>Os nossos parceiros</p>
		<a href="http://uc.pt/gats"><img src="{{MEDIA_URL}}images/dits.jpg" title="Divisão de Inovação e Transferências do Saber" alt="Divisão de Inovação e Transferências do Saber" class="illustration" />	</a>
		<a href="http://ipn.pt"><img src="{{MEDIA_URL}}images/ipn.png" title="Instituto Pedro Nunes" alt="Instituto Pedro Nunes" class="illustration" width="100" /></a>
		<br />
		<a hrf="http://www.uc.pt/fctuc"><img src="{{MEDIA_URL}}images/parceiros_fctuc.png" title="Faculdade de Ciências e Tecnologia da Universidade de Coimbra" alt="FCTUC" class="illustration"/></a>
		<a href="http://pt.invoicexpress.com/?affiliate_token=invoicexpress_hrsw7"><img src="http://www.invoicexpress.net/images/iexpress_banner_parceiros_100x100.png" alt="invoic€xpress" class="illustration" /></a>
		
	</div>

	<div class="span-14 prepend-1 last description">
		<h2>Parceiros</h2>

		<p>A nossa posição priveligiada enquanto <strong>Júnior Empresa</strong> permite-nos oferecer aos nossos parceiros vantagens únicas, como ajudá-los a contratar os melhores, a colocar as pessoas certas nos locais certos. Somos ainda um veículo eficaz de <strong>marketing</strong> e <strong>branding</strong> no meio em que nos inserimos.</p>

		<p>Por tudo isso temos vindo a desenvolver parcerias, sendo a mais notória destas o <a href="http://ineo.pt">ineo</a>. Mais que um blog, é uma marca de empreendedorismo para Coimbra e Portugal, implementada online nas redes, e offline através de eventos direccionados a jovens com ideias ou vontade.</p> 
		
		<p>Estamos sempre em busca de novas sinergias que tragam mais valias para ambas as partes, portant se acha que temos objectivos comuns ou complementares, <a href="http://jeknowledge.pt/contactos/">contacte-nos</a>. Juntos podemos fazer a diferença através de parcerias <strong>win-win</strong>.</p>

	</div>

{% endblock %}
