{% extends "main.html" %}

{% block title %}- Serviços{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
	  <img src="{{MEDIA_URL}}images/servicos1.jpg" alt="" class="illustration"/>
	  <img src="{{MEDIA_URL}}images/keyboard.jpg" alt="keyboard" class="illustration"/>
		<p>Os nossos últimos clientes foram:</p>
		<ul>
			<li> <a href="http://luisafrazao.com/">Laboratório Luísa Frazão</a> </li>
			<li> <a href="http://ruc.fm/">RUC - Rádio Universidade de Coimbra</a> </li>
			<li> <a href="http://www.eneida.pt/">ENEIDA</a> </li>
			<li> <a href="http://www.academica.pt/">AAC - Associação Académica de Coimbra</a> </li>
			<li> <a href="http://www.isasensing.com/">ISA - Intelligent Sensing Anywhere</a> </li>
		 	<li> <a href="http://intraneia.com/">Intraneia</a> </li>
			<li> <a href="http://fis.uc.pt">Departamento de Física - FCTUC</a> </li>
		</ul>
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>O que temos para oferecer</h2>
		
		<p>Os nossos serviços têm evoluído continuamente e de forma sustentada. Para além dos projectos internos que nos permitem desenvolver competências em novas àreas, e proactivamente procurar <strong>soluções</strong> para problemas e <strong>oportunidades</strong> observados, actualmente oferecemos conjunto de serviços testados e consolidados pela experiência.</p>
		
		<h3>Engenharia</h3>
		
		<p>Enquanto fornecedores de trabalho temporário qualificado, podemos desenvolver soluções para os seus desafios de Engenharia, ou ajudar a sua equipa a vencê-los. Estamos preparados para desenvolver <strong>software</strong> adaptado às suas necessidades, ou prestar consultadoria de forma a tirar o melhor partido das ferramentas existentes ao seu dispôr.
		</p>
		
		<h3>Formação</h3>
		<p>Sabemos que nem sempre os conteúdos dos cursos superiores fornecem todas as competências necessárias para o mundo do trabalho. Temos portanto o objectivo de fazer a ponte de formação entre as competências que o mercado procura e as necessidades que os próprios estudantes identificam. Incorporamos nas acções de formação o nosso <strong>espírito prático</strong> e <strong>dinamismo</strong>, tentando sempre maximizar a sua relevância.</p>
		
		<h3>Marketing e Comunicação</h3>
		<p>Recorrendo aos meios tecnológicos ao nosso dispor, oferecemos serviços de marketing orientado para objectivos ou produtos. Comprometemo-nos a <strong>rentabilizar e optimizar</strong> estratégias de divulgação ou de apresentação de produto ou evento. Podemos também desenvolver o seu Plano de Marketing, aconselhando as melhores estratégias para atingir os seus objectivos.</p>
		
		<h3>Design e Multimédia</h3>
		<p>Desenvolvemos <strong>websites</strong> completos tendo em conta a sua perspectiva e necessidades, usando as melhores tecnologias actuais. Produzimos também soluções nas mais variadas áreas do <strong>design gráfico</strong>, sejam elas identidades visuais, design de informação e design editorial, com o máximo rigor e convergência com as ideias do cliente. Temos ainda valências na produção e <strong>edição de video</strong> como forma de exemplificar processos e mecanismos, procurando sempre passar uma mensagem clara e útil.</p>
		
		<h3>Consultadoria</h3>
		<p>Com a nossa <strong>visão</strong> única e actualizada ao estado da arte e da técnica, podemos apoiá-lo no desenvolvimento e re-definição de processos, estratégias e projectos que tornem o seu negócio mais eficaz, eficiente e rentável. <strong>Nós somos o que falta na sua empresa.</strong></p>
		
	  </div>
	</div>

{% endblock %}
